
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Adulte">
  <div class="container" infiniteScroll (scrolled)="onAdultsScrollDown()">
    <app-mask-card class="box" *ngFor="let mask of displayedAdultMasks" [mask]="mask"></app-mask-card>
    <!-- <button mat-raised-button (click)="onLoadMore()" class="box">Load more</button> -->
<!--     <mat-paginator [length]="adultMasks.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator> -->
  </div>
  </mat-tab>
  <mat-tab label="Enfant">
  <div class="container" infiniteScroll (scrolled)="onKidsScrollDown()">
    <app-mask-card class="box" *ngFor="let mask of displayedKidsMasks" [mask]="mask"></app-mask-card>
  </div>
  </mat-tab>
</mat-tab-group>
