img {
    max-width: 80px;
}

.cart {
    flex-flow: column;
    justify-content: start;
    margin-top: 12px;
}

table {
    width: 100%;
    max-width: 800px;;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
