<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">  
        <button mat-menu-item [routerLink]="['/masks']">
            <span>Masks</span>
        </button>
        <button mat-menu-item [routerLink]="['/about']">
            <span>About the project</span>
        </button>
        <button mat-menu-item [routerLink]="['/donate']">
            <span>Donate</span>
        </button>
    </mat-menu>

    <button mat-button color="secondary" [routerLink]="['']"> Guate masks</button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="share button">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>