<mat-card class="mask-card">
    <img mat-card-image [src]="mask.imageURL">
    <mat-card-content>
        <p>
            Size: {{ mask.length }} x {{ mask.height }}
            Type: {{ mask.type }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onAdd2Cart()">Add to Cart</button>
        <button mat-raised-button color="primary" [hidden]="false" [routerLink]="['/mask', mask.id]">Details</button>
    </mat-card-actions>
</mat-card>