<mat-card class="mask-card">
    <a [routerLink]="['/mask', mask.id]">
        <img mat-card-image [src]="mask.imageURL">
    </a>
    <mat-card-content style="display: flex;">
        <span>{{ mask.length }} x {{ mask.height }}</span>
        <span class="spacer"> </span>
        <span>{{ mask.price | currency}}</span>
    </mat-card-content>
    <mat-card-actions style="display: flex;">
        <span class="spacer"> </span>
        <button mat-raised-button color="primary" (click)="onAdd2Cart()">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <span class="spacer"> </span>
    </mat-card-actions>
</mat-card>