  .cover  {
    //height: auto;
    height: 66vh;
    width: auto;
    //background-image: url("/assets/home_background.jpg");
    //background-repeat: no-repeat;
    //background-position: center;
  }


  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 90%;
    height: 90vh;
    top: 5%;
    //left: 45%;
  }

    .home-title {
      text-align: center;
      color: #FFF;
      position: absolute;
      top: 20%;
      left: 30%;
    }

    .home-subtitle {
      text-align: center;
      color: #FFF;
      position: absolute;
      top: 30%;
      left: 5%;
    }

    .home-masks-button {
      position: absolute;
      top: 47%;
      left: 40%;
    }

@media(min-width: 500px) {
  .cover {
    width: 100vw;
    height: auto;
  }
    .home-subtitle {
      text-align: center;
      color: #FFF;
      position: absolute;
      top: 30%;
      left: 20%;
    }
}