@import '~@angular/material/theming';

nav {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 1000;
}

main {
    margin-top: 56px;
}

footer {
    background-color: #673ab7;
    height: 80px;
    width: auto;
    margin-top: 50px;
    display: flex;
    padding: 22px;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-link {
    text-decoration: none;
    color: #FFF;
    text-align: center;
}