<nav>
    <mat-toolbar color="primary" class="navbar">
        <button mat-button color="secondary" [routerLink]="['']"> GuateMasques</button>
        <span class="spacer"></span>
        <button mat-icon-button [routerLink]="['/masks']">
            <mat-icon>storefront</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/cart']">
            <mat-icon [matBadge]="numberOfCartItems" matBadgeColor="accent" [matBadgeHidden]="!numberOfCartItems">shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <a href="mailto:info@guatemasques.ca" class="footer-link">info@guatemasques.ca</a>
    &#169; 2020 Daniel Rodas Bautista
</footer>
